body{
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;

}

.container{
  max-width: 1240px;
  margin-left: 15% ;
  margin-right: 15% ;
}

header{
  display: flex;
  height: 80px;
  align-items: center;
  background-color: #102d36;
    
}

.logo{
  width: 5rem;

}

.menu{
  height: inherit;
  margin-left: 2rem;
  display: flex;
  width:  117.75vh;
  justify-content: space-between;
  color: #f8f8f8;
  font-weight: 700;
}

.menu__anchor{
  text-decoration: none;
  color:#F6F1D1;
  
}

.app{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh; 
 
}
.todo-list{
  background-color: #102d36;
  padding: 1rem;
  min-width: 400px;
  min-height: 300px;
  
 
}

.todo-list__title {
  border-bottom: 1px solid rgba(246, 241, 209, 0.5);
  font-size: 2rem;
  font-family: "BioRhyme", serif;
  color: #F6F1D1;
  text-align: center;
  font-weight: 700;

}

.form {
  margin-top: 0.4rem;
  display: flex;
  justify-content: space-evenly;
  
}

.form__input,
.form__button {
  border-radius: 0;
  padding: 0.75rem;
  font-size: 0.75rem;
}

.form__input {
  outline: none;
  background-color: #F6F1D1;
  border-color: rgba(255, 255, 255, 0.1);
}

.form__button {
  border: 1px;
  background: #F6F1D1;
  text-transform: uppercase;
  cursor: pointer;
  margin-left: 0.25rem;
}

.form__button:hover {
  color: #F6F1D1;
  background: rgba(246, 241, 209, 0.1);
}

.list {
  padding: 0;
  list-style: none;
  width: 100%;
}

.list__line {
  background-color: rgba(255, 255, 255, 0.1);
  color: #F6F1D1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  padding: 1rem 3rem;
}

.list__content {
  margin: 0;
}

.check-button, .delete-button {
  background-color: #F6F1D1;
  border: none;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius: 2px;
  cursor: pointer;
}

.done {
  text-decoration: line-through;
  background-color: #0B2027;
}